n8n/backup/auto-backups/20250225_194006/workflows.json
[{"createdAt":"2024-02-23T16:58:31.616Z","updatedAt":"2024-02-23T16:58:31.616Z","id":"srOnR8PAY3u4RSwb","name":"Demo workflow","active":false,"nodes":[{"parameters":{},"id":"74003dcd-2ac7-4caa-a1cd-adecc5143c07","name":"Chat Trigger","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1,"position":[660,340],"webhookId":"cdb5c076-d458-4b9d-8398-f43bd25059b1"},{"parameters":{},"id":"ce8c3da4-899c-4cc4-af73-8096c64eec64","name":"Basic LLM Chain","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.3,"position":[880,340]},{"parameters":{"model":"llama3.2:latest","options":{}},"id":"3dee878b-d748-4829-ac0a-cfd6705d31e5","name":"Ollama Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[900,560],"credentials":{"ollamaApi":{"id":"xHuYe0MDGOs9IpBW","name":"Local Ollama service"}}}],"connections":{"Chat Trigger":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4e2affe6-bb1c-4ddc-92f9-dde0b7656796","triggerCount":0,"tags":[]},{"createdAt":"2025-02-25T18:38:58.814Z","updatedAt":"2025-02-25T19:40:06.051Z","id":"9NoV8Zpk9uLd9pzG","name":"Crawl4AI Agent","active":false,"nodes":[{"parameters":{"url":"https://ai.pydantic.dev/sitemap.xml","options":{}},"id":"ff8ad797-2642-42a7-8194-13ea168bdfa7","name":"HTTP Request3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1220,280]},{"parameters":{"options":{}},"id":"6710a5b8-69db-4641-9d86-12765b0c5115","name":"XML1","type":"n8n-nodes-base.xml","typeVersion":1,"position":[1400,280]},{"parameters":{"fieldToSplitOut":"urlset.url","options":{}},"id":"10c3fd86-8c1d-4085-afc4-20c334b1970f","name":"Split Out1","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1580,280]},{"parameters":{"options":{}},"id":"b83fc49a-6f63-4ef3-a53a-e4d51cdaf7b2","name":"Loop Over Items1","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1780,280]},{"parameters":{},"id":"75f04356-8201-4bb6-b65b-03ae2a112eb9","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1280,500],"webhookId":"9af87c5e-b07f-48dc-9ca8-61b471a24cad"},{"parameters":{"method":"POST","url":"http://crawl4ai:11235/crawl","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"urls","value":"={{ $json.loc }}"},{"name":"priority","value":"10"}]},"options":{}},"id":"a74731be-ec6b-4637-88e8-ad0b9ea02b7b","name":"HTTP Request4","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1080,500],"credentials":{"httpHeaderAuth":{"id":"8cwNfCx5tWCPII8E","name":"Header Auth account"}}},{"parameters":{"url":"=http://crawl4ai:11235/task/{{ $json.task_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"timeout":5000}},"id":"aaf84e63-7196-48ec-ba64-0dd837973e43","name":"HTTP Request5","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1460,500],"retryOnFail":true,"waitBetweenTries":5000,"credentials":{"httpHeaderAuth":{"id":"8cwNfCx5tWCPII8E","name":"Header Auth account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9d90c1ce-590e-40a5-ae8c-d92326032975","leftValue":"={{ $json.status }}","rightValue":"completed","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"58bb83e4-b765-400b-81c3-14ec9d2b4ce5","name":"If1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1800,500]},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.result.markdown }}","options":{"metadata":{"metadataValues":[{"name":"page","value":"={{ $json.result.url }}"}]}}},"id":"3509ef0c-10f7-43f1-a8f6-82104a6fbc2a","name":"Default Data Loader1","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1440,960]},{"parameters":{"chunkSize":5000},"id":"1c58aef3-d5d2-463d-a3af-33c8f560023f","name":"Character Text Splitter1","type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1,"position":[1300,1120]},{"parameters":{"options":{}},"id":"db55ec07-5124-4793-89fe-71bdc0e1bcac","name":"Embeddings OpenAI2","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.1,"position":[1080,960]},{"parameters":{"assignments":{"assignments":[{"id":"f2bcdb54-e1fe-4670-99aa-6eec973bf5f1","name":"task_id","value":"={{ $('HTTP Request4').item.json.task_id }}","type":"string"}]},"options":{}},"id":"f3a27201-9f6c-4b60-9e91-5c6b4e78289b","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1080,720]},{"parameters":{"options":{}},"id":"67858459-7457-4b54-a46f-305af69cbcac","name":"OpenAI Chat Model2","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[100,900]},{"parameters":{},"id":"ee3b17e1-21d7-4295-aaf3-8cc319bb716a","name":"Postgres Chat Memory1","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[240,900]},{"parameters":{"name":"pydantic_ai_docs","description":"Retrieves data related to Pydantic AI using their documentation."},"id":"c97a1ff4-dba8-44a7-97e5-b9dbc5ef60c5","name":"Vector Store Tool1","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[580,800]},{"parameters":{"options":{}},"id":"cc54528d-f351-47d9-8760-7f6c425adc8d","name":"Embeddings OpenAI3","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.1,"position":[340,1120]},{"parameters":{"options":{}},"id":"6cd4952e-e582-460d-86f4-a7c3e4f85424","name":"OpenAI Chat Model3","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[720,960]},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"653124dc-3d6e-416a-b162-bc91ffe14cc6","name":"Supabase Vector Store2","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[1320,720]},{"parameters":{"options":{}},"id":"9c88f0c0-6bd0-4558-acf7-327143612c1d","name":"AI Agent1","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[200,680]},{"parameters":{"tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"3a760b8e-897f-4cae-8c4c-b78a7c79836b","name":"Supabase Vector Store3","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[380,960]},{"parameters":{"content":"# n8n + Crawl4AI Agent\n\nThis AI agent demonstrates how to use a Docker deployment of Crawl4AI to leverage this incredible open source web scraping tool directly in n8n.\n\nThe prerequisite for this workflow is that you have Crawl4AI hosted in a Docker container following these [instructions in the their docs](https://docs.crawl4ai.com/core/docker-deploymeny/).\n\n## How to use this workflow\n\n1. Execute the bottom workflow by clicking on \"Test workflow\". This will ingest all the Pydantic AI documentation into the Supabase DB for RAG.\n\n2. Chat with the agent with the \"Chat\" button - it'll be able to answer questions about Pydantic AI using the documentation as its source!\n\n## Extend this workflow!\n\nThis is just a starting point showing you how to use Crawl4AI in n8n! Feel free to take this along with the Crawl4AI \ndocumentation to run wild with building RAG AI agents. The possibilities with this setup are endless!","height":1074,"width":1990,"color":6},"id":"da364d92-b731-430f-ba09-6a9cad97d1ab","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,200]}],"connections":{"HTTP Request3":{"main":[[{"node":"XML1","type":"main","index":0}]]},"XML1":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"HTTP Request4","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"HTTP Request5","type":"main","index":0}]]},"HTTP Request4":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"HTTP Request5":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Supabase Vector Store2","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]},"Default Data Loader1":{"ai_document":[[{"node":"Supabase Vector Store2","type":"ai_document","index":0}]]},"Character Text Splitter1":{"ai_textSplitter":[[{"node":"Default Data Loader1","type":"ai_textSplitter","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"Supabase Vector Store2","type":"ai_embedding","index":0}]]},"Edit Fields1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory1":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"Vector Store Tool1":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Embeddings OpenAI3":{"ai_embedding":[[{"node":"Supabase Vector Store3","type":"ai_embedding","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Vector Store Tool1","type":"ai_languageModel","index":0}]]},"Supabase Vector Store2":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Supabase Vector Store3":{"ai_vectorStore":[[{"node":"Vector Store Tool1","type":"ai_vectorStore","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true,"instanceId":"f65a08c0adc90a3cde2c633d24c6daecde3817033b75588ee10a781b0b7aa3f5"},"pinData":{},"versionId":"c32eeae4-af2a-4535-8230-5fff63a0ff33","triggerCount":0,"tags":[]}]